<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>Gallery</title>
    <script src="js/vendors-js.min.js"></script>
    <script src="js/angular-app.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/app.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/vendors-css.min.css">
</head>
<body>

<div class="alert alert-danger " tabindex="-1" role="alert" ng-show="alertFalse">{{ '{{ ' }}alert.text{{ '}} ' }}
</div>
<div class="alert alert-success " tabindex="-1" role="alert" ng-show="alertTrue">{{ '{{ ' }}alert.text{{ '}} ' }}
</div>

<ul>
    <div class="heading" ng-controller="GalleryCtrl">
            <h1 ng-click="mainPage()">GALLERY</h1>
    </div>
</ul>

<div ui-view></div>

</body>
</html>
