<div class="col-md-2 col-sm-4 col-xs-6 thumb">
    {{ '{{ ' }}images.name{{ '}} ' }} {#Ugly decision for angular variables#}
    <img class="img-responsive" src="{{ '{{ ' }}images.path{{ '}} ' }}"/>
    {#<a href="#!/gallery/edit/{{ '{{ ' }}images.id{{ '}} ' }}">#}
        <button type="button" class="btn btn-warning imageButtons"  ng-click="editImage($index)">Edit</button>
    {#</a>#}
    <button type="button" class="btn btn-danger imageButtons" ng-click="deleteElement($index)">Delete</button>
</div>
